@model IEnumerable<CrowdGod.Model.AnswerModel.AnswerListItem>

<p>
    <a asp-controller="Answer" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AnswerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AnswerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AnswerId })
            </td>
        </tr>
}
    </tbody>
</table>
